<footer id="footer">
  <div class="container">
    <div class="subcontainer">
      <div class="footer-wrapper">
        <div class="footer-box fb1">
          <div>
            <div class="brand">
              <h1>Needa</h1>
            </div>
            <div class="info">
              <p>We create possibilites</p>
              <p>for the aspiring entrepreneur.</p>
              <span>Never settle.</span>
            </div>
          </div>
        </div>
        <div class="footer-box fb2">
          <h4>EXPLORE</h4>
          <div class="info">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="t">Contact</a>
          </div>
        </div>
        <div class="footer-box fb3">
          <h4>VISIT</h4>
          <address>
            <p>756 Kilbreath St.</p>
            <p>Salinas, CA 93901</p>
            <p>(831) 393-9260</p>
          </address>
        </div>
        <div class="footer-box fb4">
          <h4>FOLLOW</h4>
          <div class="info">
            <a href=""><i class="fab fa-twitter"></i> Twitter</a>
            <a href=""><i class="fab fa-facebook"></i> Facebook</a>
            <a href=""><i class="fab fa-instagram"></i> Instagram</a>
          </div>
        </div>
        <div class="footer-box fb5">
          <h4>QUICK LINKS</h4>
          <div class="info">
            <a href="">Donate money</a>
            <a href="">Donate computers</a>
            <a href="">LFC website</a>
          </div>
        </div>
      </div>
      <div class="rights">
        <p><i class="far fa-copyright"></i> 2021 Needa. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>

</body>

</html>