<!-- FRONT END SUCCESS/ERROR MESSAGES -->
<section>
  <div class="toast-wrapper-front-end">
    <div class="toast-front-end">
      <div class="icon-container-front-end"></div>
      <div class="message-container-front-end flex-column-gap-5"></div>
      <button id="close-toast-btn-front-end">&times;</button>
    </div>
  </div>
</section>