<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
  <title><%= title %></title>
</head>

<body>

  <header id="header">
    <div class="container">
      <div class="subcontainer">
        <nav>
          <div class="navbar">
            <a href="/" class="nav-branding">
              <h1>Needa</h1>
            </a>
            <ul class="nav-menu">
              <% if (typeof user !="undefined" && user) { %>
                <li class="nav-item">
                  <a href="/profile" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                  <a href="/auth/logout" class="nav-link">Logout</a>
                </li>
              <% } %>
            </ul>
            <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <section id="cookies">
    <div class="container">
      <div class="subcontainer">
        <div class="cookies">
          <p>This website uses cookies to ensure you get the best experience on our website. <a href=""
              id="more-info-link">More info.</a></p>
          <button id="cookies-btn" style="padding: 8px 12px 8px 12px;">I agree</button>
        </div>
      </div>
    </div>
  </section>

