<div id="location-modal-overlay">
  <div id="location-modal">
    <div class="modal-container flex-column-gap-20">
      <div class="modal-header flex-row-gap-10">
        <h2><i class="fa-solid fa-location-crosshairs" style="color: black;"></i> Current Location: <span
            id="current-location"></span></h2>
        <i class="fa-solid fa-xmark" id="location-close-modal-btn"></i>
      </div>
      <div class="modal-header flex-row-gap-10">
        <input type="text" placeholder="City, State" id="update-location-input">
        <button id="update-location-btn">Update</button>
        <p>OR</p>
        <button id="use-my-current-location-btn">Use My Current Location</button>
      </div>
    </div>
    <div class="modal-container">
      <iframe width="100%" height="100%" style="border:0" loading="lazy" allowfullscreen
        referrerpolicy="no-referrer-when-downgrade" id="location-src">
      </iframe>
    </div>
  </div>
</div>