<div id="location-modal">
  <div class="modal-wrapper">
    <div class="modal-exit-header">
      <i class="fa-solid fa-xmark" id="location-close-modal-btn"></i>
    </div>
    <div class="modal-main-container">
      <div class="modal-container flex-column-gap-20">
        <div class="modal-header flex-row-gap-10">
          <h2><i class="fa-solid fa-location-crosshairs"></i> Current Location: <span
              id="current-location"></span>
          </h2>
        </div>
        <div class="modal-header flex-row-gap-10">
          <button id="user-current-location-btn">Use My Current Location</button>
        </div>
      </div>
      <div class="map-container"></div>
    </div>
  </div>
</div>

