<%- include("partials/header.ejs") %>
<%- include("partials/location-modal.ejs") %>

  <style>
    body {
      background-color: #e9e9e9;
    }
  </style>

  <section id="accountSection">
    <div class="container">
      <div class="subcontainer">

        <div class="account-wrapper">

          <div class="account-col-1">
            <div class="account-col-1-child-1">
              <h2>Settings</h2>
            </div>
            <div class="account-col-1-child-2">
              <a href="/settings">
                <div class="account-col-1-link flex-row-gap-10">
                  <i class="fas fa-user-circle"></i>
                  <p>PROFILE</p>
                </div>
              </a>
              <a href="/settings/showcase">
                <div class="account-col-1-link flex-row-gap-10">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                  <p>SHOWCASE PHOTOS</p>
                </div>
              </a>
              <a href="/settings/account" style="color:#7449F5;">
                <div class="account-col-1-link flex-row-gap-10" style="background-color: #f1f1f1;">
                  <i class="fas fa-cog"></i>
                  <p>ACCOUNT</p>
                </div>
              </a>
            </div>
          </div>
    
          <form class="account-col-2">
            <div class="account-col-2-child flex-column-gap-15">
              <h2>Delete Account</h2>
              <p>Your personal data will be deleted permanently when you delete your account on Needa. This action is
                irreversible.
              </p>
              <div>
                <button type="submit" id="delete-account-btn">Delete my account</button>
              </div>
            </div>
          </form>
    
        </div>
      </div>
    </div>

  </section>


  <script src="/js/script.js"></script>
  <% if (typeof user !="undefined" && user) { %>
    <script src="/js/google-map.js"></script>
  <% } %>

<%- include("partials/footer.ejs") %>