<%- include("partials/header.ejs") %>

<style>
  body {
    background-color: #e9e9e9;
  }
</style>

<section id="accountSection">
  <div class="container">
    <div class="subcontainer">

      <div class="account-wrapper">

        <div class="account-col-1">
          <div class="account-col-1-child-1">
            <h2>Settings</h2>
          </div>
          <div class="account-col-1-child-2">
            <a href="/settings" style="color:#009999;">
              <div class="account-col-1-link flex">
                <i class="fas fa-user-circle"></i>
                <p>PROFILE</p>
              </div>
            </a>
            <a href="/settings/showcase">
              <div class="account-col-1-link flex">
                <i class="fa-solid fa-cloud-arrow-up"></i>
                <p>SHOWCASE PHOTOS</p>
              </div>
            </a>
            <a href="/settings/account">
              <div class="account-col-1-link flex">
                <i class="fas fa-cog"></i>
                <p>ACCOUNT</p>
              </div>
            </a>
          </div>
        </div>
  
        <form class="account-col-2">
          <div class="account-col-2-child flex-3">
            <h2>Delete Account</h2>
            <p>Your personal data will be deleted permanently when you delete your account on Needa. This action is
              irreversible.
            </p>
            <div>
              <button type="submit" id="delete-account-btn">Delete my account</button>
            </div>
          </div>
        </form>
  
      </div>
    </div>
  </div>

</section>


<script src="/js/script.js"></script>

<%- include("partials/footer.ejs") %>