<%- include("partials/header.ejs") %>
<%- include("partials/toast.ejs") %>
<%- include("partials/location-modal.ejs") %>

  <section id="accountSection">
    <div class="container">
      <div class="subcontainer">
        <div class="account-wrapper">
          <div class="account-col-1">
            <div class="account-col-1-child-1">
              <h2>Settings</h2>
            </div>
            <div class="account-col-1-child-2">
              <a href="/settings">
                <div class="account-col-1-link flex-row-gap-15">
                  <i class="fas fa-user-circle"></i>
                  <p>EDIT PROFILE</p>
                </div>
              </a>
              <a href="/settings/showcase">
                <div class="account-col-1-link flex-row-gap-10">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                  <p>UPLOAD PHOTOS</p>
                </div>
              </a>
              <a href="/settings/showcase">
                <div class="account-col-1-link flex-row-gap-15">
                  <i class="fa-solid fa-key"></i>
                  <p>CHANGE PASSWORD</p>
                </div>
              </a>
              <a href="/settings/account" style="color:#7449F5;">
                <div class="account-col-1-link flex-row-gap-10" style="background-color: #f1f1f1;">
                  <i class="fa-solid fa-user-minus"></i>
                  <p>DELETE ACCOUNT</p>
                </div>
              </a>
            </div>
          </div>
          <div class="account-col-2">
            <div class="account-col-2-child flex-column-gap-15">
              <h2>Delete account</h2>
              <p>Are you absolutely sure you want to delete your needa.com account? <span style="font-weight: 600;">Please note your personal data will be deleted permanently when you delete your account and there is no option to
              restore the account or its data.</span> If you click the button, you will be asked to confirm this action by entering your password.
              </p>
              <div>
                <button id="delete-account-modal-btn">Delete my account</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="overlay">
    <div class="delete-account-modal">
      <div class="delete-account-modal-contents flex-column-gap-15">
        <div style="width: 100%;text-align:center;">
          <i class="fa-solid fa-circle-exclamation"></i>
        </div>
        <div class="form-title flex-column-gap-5">
          <h1>Please confirm</h1>
          <p>Enter your password to delete this account</p>
        </div>
        <form class="flex-column-gap-10" action="/auth/delete-account" method="POST">
          <input type="password" name="password" placeholder="Password" maxlength="60" required>
          <button type="submit">Delete</button>
        </form>
        <i class="fa-solid fa-xmark" id="close-login-modal-btn"></i>
      </div>
    </div>
  </div>

  <script src="/js/script.js"></script>
  <script src="/js/toast.js"></script>
  <script src="/js/delete-modal.js"></script>
  <% if (typeof user !="undefined" && user) { %>
    <script src="/js/google-map.js"></script>
  <% } %>

<%- include("partials/footer.ejs") %>