<%- include("partials/header.ejs") %>

  <section id="errorSection">
    <%- include("partials/toast.ejs") %>
  </section>

  <script>
    const toast = document.querySelector(".toast"),
    closeToast = document.querySelector("#closeToast");
    if (toast) {
      closeToast.addEventListener("click", () => {
        toast.style.transform = "translateX(400px)";
      })
    }
  </script>

<%- include("partials/footer.ejs") %>