<%- include("partials/header.ejs") %>

  <section id="errorSection">
    <%- include("partials/backend-toast.ejs") %>
  </section>

  <script src="/js/toast.js"></script>

<%- include("partials/footer.ejs") %>