<%- include("partials/header.ejs") %>
<%- include("partials/backend-toast.ejs") %>

  <div id="login-grid">
    <div class="brand-grid">
      <div class="brand-header">
        <a href="/">
          <h1>Needa</h1>
        </a>
        <div class="mrb_dec"></div>
        <div class="mrb_dec2"></div>
      </div>
      <div class="brand-img">
        <div class="mrb_pin"></div>
        <div class="mrb_pin mrb_pin2"></div>
      </div>
    </div>
    <form action="/auth/login" id="login-form" method="POST">
      <div class="form-title">
        <h2>Login</h2>
      </div>
      <div class="input-group">
        <input type="text" id="email" name="email" placeholder="Email" required>
      </div>
      <div class="input-group password-container">
        <input type="password" name="password" id="password" placeholder="Password...">
        <i class="fa-solid fa-eye" id="show-password"></i>
      </div>
      <div id="show-password-container">
        <div id="forgot-password">
          <a href="/password-reset">Forgot Password?</a>
        </div>
      </div>
      <div class="input-group">
        <button id="login-btn">Login</button>
      </div>
      <div id="register">
        <p>Not a member?<a href="/register"> Register</a></p>
      </div>
    </form>
  </div>

  <script src="/js/script.js"></script>
  <script src="/js/toast.js"></script>
  <script src="/js/login-show-password.js"></script>

<%- include("partials/footer.ejs") %>