<%- include("partials/header.ejs") %>
<%- include("partials/toast.ejs") %>

  <section id="login-section">
    <div class="container"> 
      <div class="subcontainer"> 
        <form action="/auth/login" id="login-form" method="POST">
          <div class="form-title">
            <h1>Log in</h1>
            <i class="fa-solid fa-lock"></i>
          </div>
          <div class="input-group">
            <input type="text" id="email" name="email" placeholder="Email" required>
          </div>
          <div class="input-group password-container">
            <input type="password" name="password" id="password" placeholder="Password...">
            <i class="fa-solid fa-eye" id="show-password"></i>
          </div>
          <div id="show-password-container">
            <div id="forgot-password">
              <a href="/password-reset">Forgot Password?</a>
            </div>
          </div>
          <div class="input-group">
            <button id="login-btn">Let's go</button>
          </div>
          <div id="register">
            <p>Not a member?<a href="/register"> Register</a></p>
          </div>
        </form>     
      </div>
    </div>
  </section>

  <script src="/js/script.js"></script>
  <script src="/js/toast.js"></script>
  <script src="/js/login-show-password.js"></script>

<%- include("partials/footer.ejs") %>