<%- include("partials/header.ejs") %>
<%- include("partials/toast.ejs") %>

  <div id="login-grid" class="password-reset">
    <div class="brand-grid">
      <div class="brand-header">
        <a href="/">
          <h1>Needa</h1>
        </a>
        <div class="mrb_dec"></div>
        <div class="mrb_dec2"></div>
      </div>
      <div class="brand-img">
        <div class="mrb_pin"></div>
        <div class="mrb_pin mrb_pin2"></div>
      </div>
    </div>
    <form action="/auth/password-reset" method="POST" id="password-reset-form">
      <div class="form-title">
        <h2>Password reset</h2>
      </div>
      <div>
        <p>Enter the email you signed up with and we will send you a link to reset your password.</p>
      </div>
      <div>
        <input type="email" name="email" id="email" placeholder="Email" required>
      </div>
      <div>
        <button id="link-btn" class="g-recaptcha" data-sitekey="6LfNj-keAAAAACbPznMW6DDIxOGjMpOB6IgCAU39"
          data-callback="passwordResetRequest">Reset</button>
      </div>
      <div class="links">
        <p>Back to <a href="/login">Login</a> / <a href="/register">Register</a></p>
      </div>
    </form>
  </div>


  <script src="/js/script.js"></script>
  <script src="/js/toast.js"></script>
  <script>
   passwordResetRequest = (token) => {
     document.querySelector("#password-reset-form").submit();
   }
  </script>

  <%- include("partials/footer.ejs") %>