<%- include("partials/header.ejs") %>

<section id="infoSection">
  <div class="container" style="min-height: 400px;">
    <div class="subcontainer">
      <div class="alert-message-wrapper">
        <div class="alert-message success">
          <p>Your new password has been saved. Please use your new password to login.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/script.js"></script>

<%- include("partials/footer.ejs") %>