<%- include("partials/header.ejs") %>

  <section id="password-reset">
    <div class="container center-content">
      <div class="subcontainer">

        <div id="title">
          <h1 style="font-size: 2.5rem;"><a href="/">Needa</a></h1>
        </div>
        <form action="/auth/password-reset" method="POST" id="password-reset-form">
          <p>Enter the email you signed up with and we will send you a link to reset your password</p>
          <div>
            <input type="email" name="email" id="email" placeholder="Email" required>
          </div>
          <div>
            <button id="link-btn" class="g-recaptcha" data-sitekey="6LfNj-keAAAAACbPznMW6DDIxOGjMpOB6IgCAU39"
              data-callback="passwordResetRequest">Send</button>
          </div>
          <% if (typeof success !="undefined" && !success) { %>
            <div class="alert-message">
              <p>
                <%= message %>
              </p>
            </div>
            <% } %>
        </form>
      </div>
    </div>
  </section>

  <script src="/js/script.js"></script>

  <%- include("partials/footer.ejs") %>