<%- include("partials/header.ejs") %>
<%- include("partials/toast.ejs") %>
  
  <section id="passwordResetSection">
    <div class="container">
      <div class="subcontainer">
        <div class="form-title">
          <h1>Reset Password</h1>
        </div>
        <div style="text-align: center;padding: 10px 0;">
          <p>Enter the email you signed up with and we will send you a link to reset your password.</p>
        </div>
        <form action="/auth/password-reset" method="POST" id="passwordResetForm">
          <div>
            <input type="email" name="email" id="email" placeholder="Email" required>
          </div>
          <div>
            <button id="link-btn" class="g-recaptcha" data-sitekey="6LfNj-keAAAAACbPznMW6DDIxOGjMpOB6IgCAU39"
              data-callback="passwordResetRequest">Send</button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <script src="/js/script.js"></script>
  <script src="/js/toast.js"></script>
  <script>

   passwordResetRequest = (token) => {
     document.querySelector("#passwordResetForm").submit();
   }

  </script>

  <%- include("partials/footer.ejs") %>