<%- include("partials/header.ejs") %>

<section>
  <div class="container center-content">
    <div class="subcontainer">
      <div id="title">
        <h1>Password Reset Success</h1>
        <br>
        <p>Your new password has been saved. Please use your new password to <a href="/login">login</a>.</p>
      </div>
    </div>
  </div>
</section>

<script src="/js/script.js"></script>

<%- include("partials/footer.ejs") %>