<%- include("partials/header.ejs") %>

<section>
  <div class="container center-content">
    <div class="subcontainer">
      <div id="title">
        <h1>Password reset link was sent to your email</h1>
        <br>
        <p>We emailed you instructions for re-setting you password, if an account exists with the email you entered. You should receive them shortly. If you don't receive an email, please make sure you entered the address you registered with, and check your spam folder.</p>
      </div>
    </div>
  </div>
</section>

<script src="/js/script.js"></script>

<%- include("partials/footer.ejs") %>