/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GLOBAL */

body{
  overflow-x: hidden ;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  position: relative;
}

form{
  width: 375px;
  height: auto;
  margin: auto;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

input,
select,
textarea{
  width: 375px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  border: 1px solid lightgray;
  font-family: inherit;
  background-color: #f9f9f9;
}

input:focus,
textarea:focus{
  box-shadow: 0 0 5px black;
  border: 1px solid black;
}

button{
  border: 1px solid lightgray;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid rgba(211, 211, 211, 0.5);
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  padding: 10px;
  max-width: 150px;
  height: 80px;
  overflow: hidden;
  white-space: nowrap;
}

th {
  padding: 10px;
  text-align: left;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

.flex{
  display: flex;
  gap: 10px;
  align-items: center;
}

.flex-2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 5px;
}

.flex-3{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.flex-4{
  display: flex;
  gap: 10px;
  align-items: center;
}

.flex-5, .flex-10, .flex-15, .flex-20 {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.flex-10{
  gap: 10px;
}

.flex-15{
  gap: 15px;
}

.flex-20{
  gap: 20px;
}

.flex-space-between{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container{
  width: 1700px;
  margin: auto;
}

.subcontainer{
  width: 90%;
  margin: auto;
}

.center-content{
  display: flex;
  justify-content: center;
  align-items: center;  
  text-align: center;
  min-height: 500px;
  padding: 20px 0 30px 0;
}

#title{
  width: 100%;
  text-align: center;
}

#title a{
  text-decoration: none;
  color: black;
}

.alert-message-wrapper{
  padding-top: 15px;
}

.alert-message{
  width: 100%;
  padding: 12px;
  background-color: #ffe6e6;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  text-align: left;
}

.success{
  background-color: #e6ffee;
  border: 1px solid green;
  color: green;
}

#errorSection,
#infoSection {
  margin-top: 70px;
}

#cookies {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 1;
}

.cookies {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.cookies a {
  text-decoration: none;
}

#cookies-btn {
  border: 3px solid white;
  background-color: black;
  color: white;
}

#more-info-link {
  font-weight: 500;
  color: #009999;
}

#header{
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar{
  width: 100%;
  min-height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.navbar li{ list-style: none;}

.navbar a{
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
}

.nav-branding{
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-search{
  position: relative;
}

.nav-search input{
  width: 600px;
  padding-left: 40px;
}

.nav-search .fa-search{
  position: absolute;
  top: 25%; 
  left: 2%;
  color: lightgray;
  font-size: 1.2rem;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#register-user-btn{
  color: white;
  border: 2px solid white;
  background-color: #009999;
}

.nav-branding{ font-size: 1.5rem;}

.nav-link{ transition: 0.7s ease;}

.nav-link:hover{ color: #009999;}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

/* DROPDOWN CODE */

.link{
  background: none;
  border: none;
  padding: 0;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  transition: 0.3s ease-out;
}

.link p{
  font-size: 1.5rem;
}

.dropdown.active > .link{
  color: white;
}

.dropdown{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dropdown-menu{
  position: absolute;
  right: 0;
  top: calc(100% + .70rem);
  background-color: white;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  z-index: 1;
  width: 350px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  transition: opacity 150ms ease-in-out,
  transform 150ms ease-in-out;
}

.dropdown-menu a{
  color:#262626;
  text-decoration: none;
}

.dropdown-menu a:hover{
  border-radius: .25rem;
  background-color: #e1e1e1;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-links{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 1rem 1.5rem;
}

.dropdown-links .user-icon{
  color:#262626;
  box-shadow: 0 0 2px #262626;
}

.dropdown-links .fa-user{
  color:#262626;;
}

.dropdown-links h3{
  font-size: 1.2rem;
  font-weight: 400;
}

.dropdown-links .fa-unlock,
.dropdown-links .fa-home,
.dropdown-links .fa-gear,
.dropdown-links .fa-user-circle,
.dropdown-links .fa-sign-out{
  font-size: 1.4rem;
}

.top-link{
  display: flex;
  gap: 15px;
  border-bottom: 1px solid lightgray;
}

.top-link h3{
  font-weight: bold;
}

.bottom-link{
  color: #009999;
}

.user-icon{
  border-radius: 50%;
  width: 55px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2px lightgray;
  background-position: center;
  background-size: cover;
}

.user-icon img {
  width:100%;
}

.fa-user{
  font-size: 1.2rem;
  color: white;
}

/* PROFILE.EJS */

#profileCoverSection{
  height: 300px;
  margin-top: 70px;
  background-color: white;
  background-position: center;
  background-size: cover;
  background-image: url(/images/default_cover_img.jpg);
}

#profileSection{
  background-color: #e9e9e9;
}

#profileSection .profile-wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

#profileSection .profile-col-1-wrapper{
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  color: #262626;
  padding: 30px 15px 30px 30px;

}

#profileSection .profile-col-1-box-1{
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

#profileSection .profile-col-1-box-1 h2,
#profileSection .profile-col-1-box-1 h3,
#profileSection .profile-col-1-box-1 p {
  font-weight: 500;
}

#profileSection .profile-photo{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: -175px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-color: #f9f9f9;
  border: 10px solid white;
}

#profileSection .profile-photo i{
  color: #262626;
  font-size: 7rem;
}

#profileSection .profile-identity{
  width: 100%;
  text-align: center;
}

#profileSection .profile-identity h1{
  font-size: 2rem;
  font-weight: bold;
}

#profileSection .profile-identity h2 {
  text-transform: uppercase;
}

#profileSection .profile-identity h3{
  color: gray;
}

#profileSection .profile-col-1-box-2 {
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

#profileSection .profile-social-link,
#profileSection .profile-website-link{
  padding: 20px;
  transition: 0.2s ease;
  border-radius: 10px;
}

#profileSection .profile-website-link{
  border: 1px solid #262626;
  box-shadow: 0 0 5px #262626;
  background-color: #262626;
}

#profileSection .profile-social-link:nth-child(2){
  border: 1px solid #1DA1F2;
  box-shadow: 0 0 5px gray;
  background-color: #1DA1F2;
}

#profileSection .profile-social-link:nth-child(3){
  border: 1px solid #fb3958;
  box-shadow: 0 0 5px gray;
  background-color: #fb3958;
}

#profileSection .profile-social-link:nth-child(4){
  border: 1px solid #4267B2;
  box-shadow: 0 0 5px gray;
  background-color: #4267B2;
}

#profileSection .profile-social-link:nth-child(5){
  border: 1px solid #0e76a8;
  box-shadow: 0 0 5px gray;
  background-color: #0e76a8;
} 

#profileSection .profile-social-link p{
  font-size: 1.4rem;
  color: white;
}

#profileSection .profile-social-link a,
#profileSection .profile-website-link a {
  text-decoration: none;
  font-size: 1.8rem;
}

#profileSection .flex{
  display: flex;
  gap: 20px;
  color: white;
}

#profileSection .flex p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#profileSection .profile-col-1-box-3,
#profileSection .profile-col-1-box-4 {
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

 #profileSection .tags{
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
 }

#profileSection .tag{
  padding: 12px;
  border-radius: 5px;
  background-color: #262626;
  color: white;
  font-style: italic;
  box-shadow: 0 0 5px gray;
  font-size: 1.2rem;
  text-transform: lowercase;
}

#profileSection .profile-col-2-wrapper {
  width: 100%;
  height: fit-content;
  padding: 30px 30px 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: #262626;
  background-color: white;
  color: #262626;
}

#profileSection .profile-col-2-box-1,
#profileSection .profile-col-2-box-2,
#profileSection .profile-col-2-box-3,
#profileSection .profile-col-2-box-4{
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

#profileSection #profile-edit {
  color: white;
  background-color: #009999;
  border: 3px solid lightgray;
}

#profileSection .profile-services h3,
#profileSection .profile-skills h3,
#profileSection .profile-work-images h3{
  color: #262626;
}

#profileSection .profile-edit, 
#profileSection .profile-services,
#profileSection .profile-skills,
#profileSection .profile-following{
  width: 100%;
  line-height: 2;
}

#profileSection .profile-showcase-photos{
  width: 100%;
}

#profileSection .showcase-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#profileSection .showcase-container img{
  border-radius: 5px;
  cursor: pointer;
  height: 200px;
}

#profileSection .showcase-container img:hover{
  transform: scale(1.1);
}

#profileSection .image span {
  display: flex;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

#profileSection .image img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
}

#profileSection .preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  max-width: 800px;
  width: 100%;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  color: white;
}

#profileSection .preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}

#profileSection .preview-box .details {
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 10px;
  justify-content: space-between;
}

.preview-box .details .title {
  display: flex;
  font-size: 18px;
  font-weight: 400;
}

#profileSection .title p {
  margin: 0 5px;
}

#profileSection .icon {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

#profileSection .image-box {
  display: flex;
  width: 100%;
  position: relative;
}

#profileSection .slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}

#profileSection .slide.prev {
  left: 0px;
}

#profileSection .slide.next {
  right: 0px;
}

#profileSection .image-box img {
  width: 100%;
  border-radius: 0 0 3px 3px;
}

#profileSection .shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0, 0, 0, 0.8);
}

/* SETTINGS.EJS */

#settingsSection {
  margin-top: 70px;
}

#settingsSection .settings-wrapper{
  display: grid;
  grid-template-columns: 24% 74%;
  gap: 2%;
  padding-top: 15px;
  padding-bottom: 30px;
}

#settingsSection .settings-col-1{
  height: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 25px;
}

#settingsSection .settings-col-1-child-1{
  padding: 14px;
  border-radius: 5px;
  color:#262626;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

#settingsSection .settings-col-1-child-2{
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

#settingsSection .settings-col-1-link{
  padding: 14px;
}

#settingsSection .settings-col-1-link a{
  text-decoration: none;
  color:#262626;
}

#settingsSection .settings-col-1-link:hover{
  background-color: #e1e1e1;
}

.settings-col-1-link .fa-user-circle,
.settings-col-1-link .fa-cog{
  font-size: 1.5rem;
}

#settingsSection .forms-container{
  display: flex;
  gap: 20px;
  flex-direction: column;
}


#settingsSection .settings-col-2{
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

#settingsSection .settings-col-2-wrapper{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}

#settingsSection .settings-col-2-child {
  padding: 18px;
  text-align: left;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#settingsSection .user-input{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#settingsSection .user-input input, 
#settingsSection .user-input select,
#settingsSection .user-input textarea{
  width: 100%;
}

#settingsSection .user-input textarea{
  resize: vertical;
  min-height: 200px;
}

#settingsSection .fa-trash-alt{ 
  transition: 0.5s ease-out;
  cursor: pointer;
}

#settingsSection .profile-photo-container{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: #262626;
  border: 3px dotted lightgray;
  background-position: center;
  background-size: cover;
  background-color: #f9f9f9;
}

#settingsSection .profile-photo-container img { 
  width: 100%;
}

#settingsSection #profilePhoto{
  width: 150px;
  height: 150px;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

#settingsSection .cover-photo-container{
  width: 100%;
  height: 192px;
  border-radius: 5px;
  color: #262626;
  border: 3px dotted lightgray;
  background-position: center;
  background-size: cover;
  position: relative;
  background-color: #f9f9f9;
}

#settingsSection .cover-photo-container img{
  width: 100%;
}

#settingsSection #coverPhoto{
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

#settingsSection .fa-cloud-upload{ 
  font-size: 1.4rem;
}

#settingsSection #showcaseForm {
  padding: 18px;
}

#settingsSection .showcase-photos{
  width: 100%;
  height: 200px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  border: 3px dotted lightgray;
  position: relative;
  background-color: #f9f9f9;
  font-style: italic;
  color: gray;
}

#settingsSection .showcase-photos .select {
  margin-left: 7px;
  cursor: pointer;
  color: #009999;
  font-weight: bold;
}

#settingsSection .showcase-photos input {
  display: none;
}

#settingsSection .showcase-photos .dragover {
  border-style: solid;
  font-size: 2rem;
  color: #c8c9dd;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.34);
}

#settingsSection .images-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  flex-wrap: wrap;
  position: relative;
  height: auto;
  margin-top: 20px;
}

#settingsSection .image {
  height: 150px;
  /* width: 125px; */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}

#settingsSection .image:nth-child(4n) {
  margin-right: 0;
}

#settingsSection .image img {
  height: 100%;
  width: 100%;
}

#settingsSection .image span {
  position: absolute;
  top: -4px;
  right: -4px;
  cursor: pointer;
  font-size: 22px;
  color: #fff;
}

#settingsSection .image span:hover {
  opacity: 0.8;
}

#settingsSection #update-profile-btn {
  color: white;
  border: 2px solid white;
  background-color: #009999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

/* SETTINGS/ACCOUNT.EJS */

#accountPage{
  margin-top: 70px;
}

.account-col-2{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 0;
  justify-content: flex-start;
}

.account-col-2-child{
  border: 1px solid lightgray;
  width: 100%;
  border-radius: 5px;
  padding: 14px;
}

#delete-account-btn{
  color: white;
  border: 2px solid white;
  background-color: #009999;
}

/* INDEX.EJS */

#homeHeader {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#homeHeader {
  background-color: transparent;
  transition: 0.6s ease-in-out;
}

#homeHeader.sticky {
  background-color: black;
}

#carousel{
  height: 600px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7)), url(/images/barber.png);
}

#carousel .carousel-header{
  width: 650px;
  height: 245px;
  position: absolute;
  top: calc(50% - 100px);
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#carousel .carousel-header h1{
  font-size: 2.5rem;
}

#carousel .carousel-header p{
  line-height: 1.5;
}

#carousel .carousel-header input{
  font-size: 1rem;
  width: 500px;
  padding: 20px 20px 20px 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#carousel .carousel-header button{
  font-size: 1rem;
  padding: 20px;
  color: white;
  border: 1px solid #1a1a1a;
  background-color: #1a1a1a;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#carousel .showcase-search{
  position: relative;
}

#carousel .showcase-search i{
  font-size: 1.5rem;
  color: lightgray;
  position: absolute;
  top: 30%;
  left: 3%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.7s;
  animation-name: fade;
  animation-duration: 0.7s;
  /* z-index: 2; */
}

@-webkit-keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

#popularSearches .recommended{
  min-height: 485px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#popularSearches .controller{
  display: flex;
  justify-content: space-between;
}

#popularSearches .slide{
  height: 315px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#popularSearches .slide-img{
  width: 100%;
  height: 250px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

#popularSearches .slide-img p{
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 1.5rem;
  color: white;
}

#popularSearches .slide-img:hover{
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

#popularSearches .slide-img:hover p{
  opacity: 1;
  transform: scale(1);
}

#popularSearches .img-1_1{
  background-image: url(/images/mechanic.png);
}

#popularSearches .img-1_2{
  background-image: url(/images/tutor.jpg);
}

#popularSearches .img-1_3{
  background-image: url(/images/trainers.jpg);
}

#popularSearches .img-1_4{
  background-image: url(/images/landscaper.png);
}

#popularSearches .img-1_5{
  background-image: url(/images/movers.jpg);
}

#popularSearches .img-1_6{
  background-image: url(/images/carpenters.png);
}

#popularSearches .img-1_7{
  background-image: url(/images/cleaners.jpg);
}

#popularSearches .img-1_8{
  background-image: url(/images/catering.jpg);
}

#popularSearches .img-1_9{
  background-image: url(/images/dj.jpg);
}

#popularSearches .img-1_10{
  background-image: url(/images/plumber.png);
}

#popularSearches .img-1_11{
  background-image: url(/images/barbers.jpg);
}

#popularSearches .img-1_12{
  background-image: url(/images/security.png);
}

#popularSearches .previous_1,
#popularSearches .next_1{
  padding: 2px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  transition: 0.7s ease-in-out;
  border: 3px solid #009999;
  background-color: #1a1a1a;
  box-shadow: 0 0 5px #bbb;
}

#popularSearches .previous_1:hover,
#popularSearches .next_1:hover{
  border: 3px solid white;
}

#popularSearches #controls_1 i{
  color: white;
  font-size: 1rem;
}

#topRatedMembers {
  background-color: #e9e9e9;
}

#topRatedMembers .recommended {
  min-height: 485px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#topRatedMembers .slide-img{
  width: 100%;
  height: 250px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

#topRatedMembers .slide {
  height: 335px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#topRatedMembers .slide-img p {
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 1.5rem;
  color: white;
}

#topRatedMembers .slide-img:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

#topRatedMembers .slide-img:hover p {
  opacity: 1;
  transform: scale(1);
}

#topRatedMembers .user{
  display: flex;
  flex-direction: column; 
  gap: 10px;
  padding-top: 20px;
}

#topRatedMembers .user-info{
  display: flex;
  gap: 5px;
}

#topRatedMembers .img-2_1 {
  background-image: url(/images/electrician.png);
}

#topRatedMembers .previous_2,
#topRatedMembers .next_2 {
  padding: 2px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  transition: 0.7s ease-in-out;
  border: 3px solid #009999;
  background-color: #1a1a1a;
  box-shadow: 0 0 5px #bbb;
}

#topRatedMembers .previous_2:hover,
#topRatedMembers .next_2:hover {
  border: 3px solid white;
}

#topRatedMembers #controls_2 i{
  color: white;
  font-size: 1rem;
}

#topRatedMembers .location{
  display: flex;
  justify-content: space-between;
}

#advertising{
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url(/images/trainer.png);
}

#advertising .header{
  width: 800px;
  height: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#advertising .header h1{
  color: white;
  font-size: 3.5rem;
  text-align: center;
}

#advertising button{
  color: white;
  padding: 12px 16px;
  border: 2px solid white;
  background-color: #009999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}


/* FOOTER.EJS */

#footer{
  min-height: 500px;
  background-color: black;
  display: flex;
  justify-content: center;
}

#footer .footer-wrapper{  
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

#footer .footer-box{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
  line-height: 2;
}

#footer .footer-box h1{
  font-size: 3rem;
}

#footer .footer-box address{
  color: gray;
  font-style: normal;
  line-height: 2;
}

#footer .info{
  display: flex;
  flex-direction: column;
  color: gray;
}

#footer .info a{
  color: gray;
  text-decoration: none;
}

#footer .info span{
  color: white;
}

#footer .brand{
  color: white;
  margin-top: -25px;
}

#footer .rights{
  padding-top: 50px;
  color: gray;
}

#footer .fb1{
  width: 300px;
}

#footer .fb2,
#footer .fb3,
#footer .fb4,
#footer .fb5{
  width: fit-content;
  line-height: 2;
}

#footer .social-media{
  display: flex;
  gap: 20px;
}

#footer .social-media a{
  color: white;
  text-decoration: none;
  transition: 0.3s ease-out;
}

/* Complete Profile */

.wrapper{
  display: grid;
  grid-template-columns: 50% 50%;
}

.container1{
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container2{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/5835457/pexels-photo-5835457.jpeg?cs=srgb&dl=pexels-tim-samuel-5835457.jpg&fm=jpg);
}

/* LOGIN/ REGISTER */

#password-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
}

#show-password-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  text-align: left;
}

#show-password-container label{
  font-size: 1rem;
}

input[type="checkbox"]{
 width: auto;
}

#password-strength-text{
  font-size: 0.8rem;
}

#forgot-password a{
  text-decoration: none;
  color: #009999;
}

#register a, #login a{
  color: #009999;
  text-decoration: none;
}

#account-btn, #login-btn, #link-btn, #update-password{
  width: 375px;
  color: white;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 5px #009999;
  border: 1px solid black;
  transition: 0.3s ease-out;
}

/* ADMIN.EJS */

#adminSection{
  margin-top: 70px;
  min-height: 600px;
}

#adminSection form{
  width: 100%;
}

#adminSection a {
  border-radius: 5px;
  padding: 10px 8px;
  color: white;
  border: none;
  text-decoration: none;
}

#adminSection input{
  font-size: 0.9rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#adminSection button{
  font-size: 0.9rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #009999;
  color: white;
}

#adminSection .admin-child-1{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

#adminSection .admin-child-2{
  width: 100%;
  display: flex;
  gap: 10px;
}

#adminSection .admin-child-3{
  width: 100%;
  overflow-x: auto;
  padding: 30px 0;
}

#adminSection .text-end {
  text-align: right;
  max-width: 250px;
}

#adminSection .view i,
#adminSection .edit i,
#adminSection .delete i {
  color: white;
}

#adminSection .view {
  background-color: #5bc0de;
}

#adminSection .edit {
  background-color: #5cb85c;
}

#adminSection .delete {
  background-color: #d9534f;
}

/* VIEW-USER.EJS */

#viewUserSection{
  margin-top: 70px;
  min-height: 600px;
}

#viewUserSection .breadcrumbs{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 30px 0;
}

#viewUserSection .breadcrumbs a{
  color: #009999;
}

#viewUserSection .user-photos{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 0;
}

#viewUserSection .photo{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#viewUserSection table{
  margin: 25px 0;
}

#viewUserSection .view-user-table td {
  width: 150px;
  text-overflow: initial;
  overflow-x: auto;
}

/* MEDIA QUERIES */

@media(max-width:1700px){
  .container{
    width: 100%;
  }
}

@media(max-width:1278px){
  #settingsSection .settings-col-2-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media(max-width:1024px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }

  .footer-wrapper{
    padding: 20px 0;
    flex-direction: column;
  }

  .fb1{
    width: 100%;
  }  

  .rights{
    padding-bottom: 25px;
  }

  .cookies{
    padding: 10px 0;
  }

  #settingsSection .settings-wrapper {
    display: flex;
    flex-direction: column;
  }

}

@media(max-width:768px){
  #cookies-btn{
    width: 100%;
  }
}