/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

:root {
  /* 1. Defining in Global Scope */
  --color: #7449F5;
  --border-radius: 8px;
}

html{
  height: 100%;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GLOBAL */

body{
  overflow-x: hidden ;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: whitesmoke; */
}

form{
  width: 375px;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

input,
select,
textarea{
  width: 375px;
  padding: 12px;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  border: 1px solid lightgray;
  font-family: inherit;
  background-color: white;
}

input:focus,
textarea:focus{
  box-shadow: 0 0 5px var(--color);
  border: 1px solid var(--color);
}

button{
  border: none;
  padding: 12px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-family: inherit;
  font-size: 1.1rem;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid rgba(211, 211, 211, 0.5);
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  padding: 10px;
  max-width: 150px;
  height: 80px;
  overflow: hidden;
  white-space: nowrap;
}

th {
  padding: 10px;
  text-align: left;
}

iframe{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

/* FLEX */

.flex-2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 5px;
}

/* FLEX, COLUMN, GAP*/
.flex-column-gap-5, .flex-column-gap-10, .flex-column-gap-15, .flex-column-gap-20, .flex-column-gap-25 {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.flex-column-gap-10{
  gap: 10px;
}

.flex-column-gap-15{
  gap: 15px;
}

.flex-column-gap-20{
  gap: 20px;
}

.flex-column-gap-25{
  gap: 25px;
}

/* FLEX, ROW, GAP */
.flex-row-gap-5, .flex-row-gap-10, .flex-row-gap-15, .flex-row-gap-20{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.flex-row-gap-10{
  gap: 10px;
}

.flex-row-gap-15{
  gap: 15px;
}

.flex-row-gap-20{
  gap: 20px;
}

.flex-row-aligncenter-gap-10 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.flex-space-between{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container{
  width: 1700px;
  margin: auto;
}

.subcontainer{
  width: 90%;
  margin: auto;
}

.form-title{
  width: 100%;
  text-align: left;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.form-title h1{
  font-size: 2.5rem;
}

.form-title i{
  font-size: 2rem;
}

#errorSection,
#infoSection {
  margin-top: 70px;
}

/* MODAL ///////////////// */

#location-modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.6);
}

#location-modal .modal-wrapper{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#location-modal .modal-exit-header{
  width: 900px;
  text-align: right;
}

#location-modal .modal-exit-header i{
  font-size: 18px;
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

#location-modal .modal-exit-header i:hover{
  color: var(--color);
}

#location-modal .modal-main-container {
  width: 900px;
  height: 575px;
  border-radius: var(--border-radius);
  background-color: white;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

#location-modal .modal-container:nth-child(1){
  padding: 20px;
  height: 105px;
  height: auto;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

#location-modal #update-location-input{
  font-size: 1rem;
}

#location-modal .modal-container:nth-child(1) button{
  color: white;
  background-color: #7449F5;
  border: none;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

#location-modal .modal-container:nth-child(2) {
  height: 450px;
}

#location-modal .modal-header:nth-child(1) {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#location-modal .modal-header:nth-child(2) {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#location-modal .modal-header i{
  font-size: 1.6rem;
  cursor: pointer;
  color: #101020;
}

#map {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 100%;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}

.toast-wrapper {
  width: 420px;
  padding: 30px 20px;
  position: fixed;
  bottom: 50px;
  right: 0;
  overflow: hidden;
  z-index: 1;
}

.toast {
  width: 390px;
  min-height: 90px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 1.2fr 6fr 0.5fr;
  transform: translate(400px);
  transition: 0.2s;
  line-height: 1.3;
}

.icon-container,
.message-container {
  align-self: center;
}

.icon-container i {
  font-size: 40px;
}

.message-container p:first-child {
  color: #101020;
  font-weight: 600;
  font-size: 1.2rem;
}

.message-container p:last-child {
  font-size: 1.1rem;
  font-weight: 400;
  color: #656565;
}

.toast-wrapper button {
  align-self: flex-start;
  background-color: transparent;
  font-size: 25px;
  color: #656565;
  line-height: 0;
  cursor: pointer;
  border: none;
  padding: 0px;
  background-color: white;
}

#cookies {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 1;
}

.cookies {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.cookies a {
  text-decoration: none;
}

#cookies-btn {
  border: 3px solid white;
  background-color: black;
  color: white;
}

#more-info-link {
  font-weight: 600;
  color: var(--color);
}

#header{
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar{
  width: 100%;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.navbar li{ 
  list-style: none;
}

.navbar a{
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
}

.nav-logo {
  font-size: 1.5rem;
}

.nav-search {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
}

.nav-search #needa-search{
  width: 400px;
}

.nav-search #search{
  width: 100%;
}

.nav-search input[type=range] {
  -webkit-appearance: none;
}

.nav-search input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.nav-search input[type="range"]::-moz-range-track {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 6px;
}

.nav-search input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px lightgray;
  border: 1px solid lightgray;
  height: 16px;
  width: 16px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}

/* width */
.nav-search ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.nav-search ::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

/* Handle */
.nav-search ::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 3px;
}

/* Handle on hover */
.nav-search ::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}

.nav-search #match-list {
  display: none;
  width: 400px;
  max-height: 400px;
  overflow-x: auto;
  color: gray;
  background-color: white;
  border-radius: var(--border-radius);
  border: 1px solid lightgray;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
}

.nav-search #match-list .name {
  padding: 8px 5px;
  transition: 0.3s;
  font-size: 1.2rem;
}

.nav-search #match-list .name:hover {
  background-color: var(--color);
  color: white;
}

.nav-search #location {
  width: 150px;
}

.nav-search #submitBtn{
  color: white;
  padding: 7px;
  border: 3px solid var(--color);
  background-color: var(--color);
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#register-user-btn{
  color: white;
  border: 3px solid var(--color);
  background-color: var(--color);
}

.nav-link{ 
  transition: 0.7s ease;
}

.nav-link:hover{ 
  color: var(--color);
}

/* DROPDOWN CODE */

.link{
  background: none;
  border: none;
  padding: 0;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  transition: 0.3s ease-out;
}

.link p{
  font-size: 1.5rem;
}

.dropdown.active > .link{
  color: white;
}

.dropdown{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dropdown-menu{
  position: absolute;
  right: 0;
  top: calc(100% + .70rem);
  background-color: white;
  border-radius: var(--border-radius);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  z-index: 1;
  width: 350px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  transition: opacity 150ms ease-in-out;
}

.dropdown-menu a{
  color:#262626;
  text-decoration: none;
}

.dropdown-menu a:hover{
  border-radius: .25rem;
  background-color: #e1e1e1;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-links{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 1rem 1.5rem;
}

.dropdown-links .user-icon{
  color:black;
  box-shadow: 0 0 2px black;
}

.dropdown-links .fa-user{
  color:black;
}

.dropdown-links h3{
  font-size: 1.2rem;
  font-weight: 400;
}

.dropdown-links .fa-unlock,
.dropdown-links .fa-home,
.dropdown-links .fa-gear,
.dropdown-links .fa-user-circle,
.dropdown-links .fa-sign-out{
  font-size: 1.4rem;
}

.top-link{
  display: flex;
  gap: 15px;
  border-bottom: 1px solid lightgray;
}

.top-link h3{
  font-weight: bold;
}

.bottom-link{
  color: var(--color);
}

.user-icon{
  border-radius: 50%;
  width: 55px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2px lightgray;
  background-position: center;
  background-size: cover;
}

.user-icon img {
  width:100%;
}

.fa-user{
  font-size: 1.2rem;
  color: white;
}

/* INDEX.EJS */

#home-header {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#home-header {
  background-color: transparent;
  transition: 0.6s ease-in-out;
}

#home-header.sticky {
  background-color: black;
}


#carousel .custom-shape-divider-bottom-1654062691 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

#carousel .custom-shape-divider-bottom-1654062691 svg {
  position: relative;
  display: block;
  width: calc(147% + 1.3px);
  height: 92px;
}

#carousel .custom-shape-divider-bottom-1654062691 .shape-fill {
  fill: #FFFFFF;
}

#carousel {
  z-index: 1;
  height: 600px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/carpenter.png);
}

#carousel .carousel-header {
  width: 650px;
  min-height: auto;
  position: absolute;
  top: calc(50% - 100px);
  color: white;
  display: flex;
  justify-content: space-between;
}

#carousel .carousel-header-box-1 h1 {
  font-size: 2.5rem;
}

#carousel .carousel-header-box-1 p {
  line-height: 1.5;
}

#carousel form {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

#carousel .carousel-header-box-2 {
  display: flex;
  flex-direction: row;
}

#carousel .carousel-header-box-2 input {
  font-size: 1rem;
  width: 430px;
  padding: 19px;
  /* font-size: 1.2rem; */
}

#carousel input[type=range] {
  -webkit-appearance: none;
}

#carousel input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid lightgray;
}

#carousel input[type="range"]::-moz-range-track {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 6px;
}

#carousel input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px lightgray;
  border: 1px solid lightgray;
  height: 16px;
  width: 16px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}

/* width */
#carousel ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#carousel ::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

/* Handle */
#carousel ::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 3px;
}

/* Handle on hover */
#carousel ::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}

#carousel #match-list {
  display: none;
  max-height: 400px;
  overflow-x: auto;
  color: gray;
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

#carousel #match-list .name {
  padding: 8px 5px;
  transition: 0.3s;
  font-size: 1.2rem;
}

#carousel #match-list .name:hover {
  background-color: var(--color);
  color: white;
}

#carousel .location input {
  width: 175px;
  padding: 19px;
}

#carousel #submitBtn {
  border-radius: var(--border-radius);
  background-color: var(--color);
  border: 3px solid var(--color);
  padding: 16px;
  color: white;
}

.fa-location-crosshairs {
  font-size: 1.5rem;
  color: white;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.7s;
  animation-name: fade;
  animation-duration: 0.7s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: 0.4
  }

  to {
    opacity: 1
  }
}

#popularSearches {
  z-index: 0;
  background-color: white;
}

#popularSearches .recommended {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 25px;
  padding: 50px 0;
}

#popularSearches .controller-1 {
  display: flex;
  justify-content: space-between;
}

#popularSearches .slide {
  height: 315px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.slide button{
  border: none;
}

#popularSearches .slide-img {
  width: 100%;
  height: 250px;
  border-radius: var(--border-radius);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

#popularSearches .slide-img i {
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 1.5rem;
  color: white;
}

#popularSearches .slide-img:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

#popularSearches .slide-img:hover i {
  opacity: 1;
  transform: scale(1);
}

#popularSearches .img-1_1 {
  background-image: url(/images/mechanic.png);
}

#popularSearches .img-1_2 {
  background-image: url(/images/tutor.jpg);
}

#popularSearches .img-1_3 {
  background-image: url(/images/trainers.jpg);
}

#popularSearches .img-1_4 {
  background-image: url(/images/landscaper.png);
}

#popularSearches .img-1_5 {
  background-image: url(/images/movers.jpg);
}

#popularSearches .img-1_6 {
  background-image: url(/images/carpenters.png);
}

#popularSearches .img-1_7 {
  background-image: url(/images/cleaners.jpg);
}

#popularSearches .img-1_8 {
  background-image: url(/images/catering.jpg);
}

#popularSearches .img-1_9 {
  background-image: url(/images/dj.jpg);
}

#popularSearches .img-1_10 {
  background-image: url(/images/plumber.png);
}

#popularSearches .img-1_11 {
  background-image: url(/images/barbers.jpg);
}

#popularSearches .img-1_12 {
  background-image: url(/images/security.png);
}

#popularSearches .img-1_13 {
  background-image: url(/images/web_developer.jpg);
}

#popularSearches .img-1_14 {
  background-image: url(/images/painter.png);
}

#popularSearches .prev-1,
#popularSearches .next-1 {
  padding: 2px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  transition: 0.7s ease-in-out;
  border: 3px solid var(--color);
  background-color: black;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

#popularSearches .prev-1:hover,
#popularSearches .next-1:hover {
  border: 3px solid white;
}

#popularSearches #controls-1 i {
  color: white;
  font-size: 1rem;
}

#popularSearches .fa-check-circle {
  font-size: 0.8rem;
  color: var(--color);
}

/* topRatedMembers ////////// */

#topRatedMembers {
  background: white;
  background: -webkit-linear-gradient(top, white, #4d4d4d);
  background: -moz-linear-gradient(top, white, #4d4d4d);
  background: linear-gradient(to bottom, white, #4d4d4d);
}

#topRatedMembers .recommended {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 25px;
  padding: 50px 0;
}

#topRatedMembers .slide-img {
  width: 100%;
  height: 250px;
  border-radius: var(--border-radius);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

#topRatedMembers .slide {
  height: 335px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#topRatedMembers .slide-img p {
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 1.5rem;
  color: white;
}

#topRatedMembers .slide-img:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

#topRatedMembers .slide-img:hover p {
  opacity: 1;
  transform: scale(1);
}

#topRatedMembers .user {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

#topRatedMembers .user-info {
  display: flex;
  gap: 5px;
}

/* 
#topRatedMembers .user h3,
#topRatedMembers .user p{
  color: white;
} */

#topRatedMembers .img-2_1 {
  background-image: url(/images/electrician.png);
}

#topRatedMembers .controller-2 {
  display: flex;
  justify-content: space-between;
}

#topRatedMembers .prev-2,
#topRatedMembers .next-2 {
  padding: 2px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  transition: 0.7s ease-in-out;
  border: 3px solid var(--color);
  background-color: black;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

#topRatedMembers .prev-2:hover,
#topRatedMembers .next-2:hover {
  border: 3px solid white;
}

#topRatedMembers #controls-2 i {
  color: white;
  font-size: 1rem;
}

#topRatedMembers .location {
  display: flex;
  justify-content: space-between;
}

#topRatedMembers .fa-map-marker-alt {
  color: var(--color);
}

/* we-offer */

#we-offer{
  height: auto;
  background-color: black;
  color: white;
}

.we-offer-header{
  text-align: center;
  padding: 0 300px;
}

.we-offer-header h1 {
  font-size: 2.5rem;
}

.we-offer-header p {
  line-height: 1.5;
}

.we-offer-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.offer{
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0 40px;
  line-height: 1.5;
  background: #171717;
  background: -webkit-radial-gradient(center, #171717 0%, #000000 100%);
  background: -moz-radial-gradient(center, #171717 0%, #000000 100%);
  background: radial-gradient(ellipse at center, #171717 0%, #000000 100%);
}

.offer h2{
  color: var(--color);
}

#we-offer .offer i{
  color: white;
  font-size: 5rem;
}


/* TESTIMONIALS */

#testimonials{
  height: auto;
  background-color: black;
  border-top: 5px solid white;
  padding: 40px 0;
}

#testimonials .testimonials-main-wrapper{
  height: 440px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;  
}

/* #testimonials .slide-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  background-position: center;
  background-size: cover;
}

.img-1{
  background-image: url(https://images.pexels.com/photos/2128807/pexels-photo-2128807.jpeg?cs=srgb&dl=pexels-david-garrison-2128807.jpg&fm=jpg);
} */

#testimonials .testimonials-header{
  color: white;
  text-align: center;
}

#testimonials .testimonials-header h1 {
  font-size: 2.5rem;
}

#testimonials .testimonials-header p {
  line-height: 1.5;
}

#testimonials .slider-3{
  height: 335px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#testimonials .tslide{
  text-align: center;
  color: white;
  line-height: 1.5;
  font-style: italic;
  padding: 0 100px;
}

#testimonials .prev-3,
#testimonials .next-3 {
  padding: 2px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  transition: 0.7s ease-in-out;
  border: 3px solid #7449F5;
  background-color: black;
  box-shadow: 0 0 5px #bbb;
  position: absolute;
  top: 45%;
  z-index: 1;
}

#testimonials .prev-3{
  left: 0%;
}

#testimonials .next-3{
  right: 0%;
}

#testimonials .prev-3:hover,
#testimonials .next-3:hover {
  border: 3px solid white;
}

#testimonials #controls-3 i {
  color: white;
  font-size: 1rem;
}

#testimonials .tns-nav{
  text-align: center;
}

#testimonials .tns-nav button{
  border: none;
  border-radius: 50%;
  background-color: white;
  margin-left: 15px;
}

#testimonials .tns-nav .tns-nav-active{
  background-color: var(--color);
}

#advertising {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/trainer.png);
}

#advertising .header {
  width: 800px;
  height: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#advertising .header h1 {
  color: white;
  font-size: 3.5rem;
  text-align: center;
}

#advertising button {
  color: white;
  padding: 12px 16px;
  border: 3px solid var(--color);
  background-color: var(--color);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

/* PROFILE.EJS */

#profileCoverSection .custom-shape-divider-bottom-1654062691 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

#profileCoverSection .custom-shape-divider-bottom-1654062691 svg {
  position: relative;
  display: block;
  width: calc(147% + 1.3px);
  height: 92px;
}

#profileCoverSection .custom-shape-divider-bottom-1654062691 .shape-fill {
  fill: #FFFFFF;
}

#profileCoverSection{
  margin-top: 70px;
  height: 300px;
  background-color: white;
  background-position: center;
  background-size: cover;
  background-image: url(/images/default.png);
  background-repeat: no-repeat;
}

#profileSection{
  background-color: white;
}

#profileSection .profile-wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 10px;
  background-color: white;
  min-height: 100vh;
}

#profileSection .profile-col-1-wrapper{
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #262626;
  background-color: whitesmoke;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

#profileSection .profile-col-1-box-1{
  min-height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: var(--border-radius);
  background-color: whitesmoke;
  padding: 0 20px;
}

#profileSection .profile-col-1-box-1 h2,
#profileSection .profile-col-1-box-1 h3,
#profileSection .profile-col-1-box-1 p {
  font-weight: 500;
}

#profileSection .profile-photo{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: -175px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-color: white;
  border: 10px solid white;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

#profileSection .profile-photo i{
  color: black;
  font-size: 7rem;
}

#profileSection .profile-identity{
  width: 100%;
  text-align: center;
}

#profileSection .profile-identity h1{
  font-size: 2rem;
  font-weight: bold;
}

#profileSection .profile-identity h2 {
  text-transform: uppercase;
}

#profileSection .profile-identity h3{
  color: gray;
  font-weight: light;
}

#profileSection .profile-col-1-box-2 {
  padding: 20px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 20px; 
  background-color: whitesmoke;
}

#profileSection .profile-website-link,
#profileSection .profile-social-link{
  padding: 16px 0;
  transition: 0.7s ease;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#profileSection .profile-website-link:hover,
#profileSection .profile-social-link:hover{
  margin-left: 10px;
  background: linear-gradient(to left, lightgray, transparent);
}

#profileSection .profile-website-link p,
#profileSection .profile-social-link p,
#profileSection .profile-phone p,
#profileSection .profile-email p{
  font-size: 1.4rem;
  color: black;
}

#profileSection .profile-social-link a,
#profileSection .profile-website-link a {
  text-decoration: none;
  font-size: 1.8rem;
}

#profileSection .flex-row-gap-20{
  justify-content: flex-start;
  align-items: center;
  color: black;
}

#profileSection .flex-row-gap-20 p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#profileSection .profile-col-1-box-3,
#profileSection .profile-col-1-box-4,
#profileSection .profile-col-1-box-5{
  padding: 20px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: whitesmoke;
}

#profileSection .not-loggedIn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#profileSection .fa-lock{
  font-size: 1.2rem;
}

 #profileSection .tags{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
 }

#profileSection .tag{
  padding: 12px;
  border-radius: var(--border-radius);
  border: 3px solid #262626;
  color: #262626;
  font-style: italic;
  font-size: 1.2rem;
  text-transform: lowercase;
}

#profileSection .profile-phone{
  padding: 10px 0;
}

#profileSection .profile-col-2-wrapper {
  width: 100%;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: #262626;
  background-color: white;
}

#profileSection .profile-col-2-box-1,
#profileSection .profile-col-2-box-2,
#profileSection .profile-col-2-box-3,
#profileSection .profile-col-2-box-4,
#profileSection .profile-col-2-box-5{
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.20);
}

#profileSection #profile-edit,
#profileSection #show-login-modal-btn,
#profileSection #add-contact-btn,
#profileSection #delete-contact-btn{
  color: white;
  background-color: var(--color);
  border: 3px solid var(--color);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

#profileSection .profile-edit,
#profileSection .profile-services,
#profileSection .profile-skills,
#profileSection .profile-showcase-photos,
#profileSection .profile-contacts {
  width: 100%;
  line-height: 2;
}

#profileSection .profile-services h3,
#profileSection .profile-skills h3,
#profileSection .profile-showcase-photos h3,
#profileSection .profile-contacts h3{
  color: #262626;
}

/* CONTACTS//////////////////////// */

#profileSection .profile-contacts-photos {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#profileSection .slider-1{
  padding: 5px;
}

#profileSection .prev-1,
#profileSection .next-1,
#profileSection .prev-2,
#profileSection .next-2 {
  padding: 2px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  transition: 0.7s ease-in-out;
  border: 3px solid #7449F5;
  background-color: black;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

#profileSection .prev-1:hover,
#profileSection .next-1:hover,
#profileSection .prev-2:hover,
#profileSection .next-3:hover {
  border: 3px solid white;
}

#profileSection .fa-angle-left,
#profileSection .fa-angle-right {
  color: white;
  font-size: 1rem;
}

#profileSection .contact-photo-wrapper{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

#profileSection .contact-photo {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profileSection .contact-photo:hover{
  transform: scale(1.2);
}

.contact-photo .fa-user{
  color: black;
  font-size: 4rem;
}

/* SHOWCASE/////////////////////////// */

#profileSection .profile-showcase-photos{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#profileSection .slider-2 span {
  display: flex;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

#profileSection .slider-2 img {
  width: 100%;
  height: 200px;
  vertical-align: middle;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
}

#profileSection .slider-2 img:hover {
  transform: scale(1.2);
}

/* LIGHTBOX/////////////// */

#profileSection .preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 1700px;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  padding: 0 5px 5px 5px;
  color: white;
}

#profileSection .preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}

#profileSection .preview-box .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.preview-box .details {
  width: 768px;
  margin: auto;
}

.preview-box .details .title {
  display: flex;
  font-size: 20px;
  font-weight: 400;
}

#profileSection .title p {
  margin: 0 5px;
}

#profileSection .icon {
  color: white;
  font-size: 18px;
  cursor: pointer;
}

#profileSection .image-box {
  height: 432px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#profileSection .slide {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

#profileSection .fa-times,
#profileSection .image-box i{
  transition: 0.3s;
  font-size: 1.7rem;
}

#profileSection .fa-times:hover,
#profileSection .image-box i:hover {
  color: var(--color);
}


#profileSection .image-box img {
  width: auto;
  height: 100%;
  overflow: hidden;
  margin: auto;
  border-radius: var(--border-radius);
  border: 5px solid white;
}

#profileSection .shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0, 0, 0, 0.9);
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  max-width: 600px;
  height: 300px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: var(--border-radius);
  background-color: white;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-contents{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
  line-height: 1.5;
}

.modal-contents .flex-row-gap-10{
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.modal-contents p{
  font-size: 1.2rem;
}

.modal-contents #login,
.modal-contents #register{
  width: 100px;
  border: 3px solid var(--color);
  background-color: var(--color);
  color: white;
  border-radius: var(--border-radius);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

.modal-contents #login{
  border: 3px solid var(--color);
  background-color: white;
  color: var(--color);
}

.show-modal {
  opacity: 1;
  animation: show 0.2s;
}

@keyframes show {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.hide-modal {
  opacity: 0;
  animation: hide .25s;
}

@keyframes hide {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}

/* SEARCH-RESULTS.EJS */

#searchResultsSection {
  margin-top: 70px;
  min-height: 600px;
  padding: 50px 0;
}

#searchResultsSection .search-results-wrapper{
  display: grid;
  grid-template-columns: 24% 74%;
  gap: 2%;
}

#searchResultsSection .search-results-col-1,
#searchResultsSection .search-results-col-2{
  height: 300px;
  width: 100%;
  border-radius: var(--border-radius);
  padding: 20px;
  background-color: whitesmoke;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

#searchResultsSection .search-results-col-2{
  height: auto;  
}

#searchResultsSection .image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

#searchResultsSection .image i{
  color: black;
  font-size: 2.3rem;
}

#searchResultsSection .search-results-user-box{
  justify-content: space-between;
  align-items: center;
}

#searchResultsSection .search-results-user-box-child h3 {
  font-size: 1.4rem;
}

#searchResultsSection .search-results-user-box-child p{
    color: gray;
}

#searchResultsSection .search-results-user-box-child .fa-location-dot{
    color: var(--color);
}

#searchResultsSection .flex-column-gap-5{
  justify-content:center;
}

#searchResultsSection .flex-row-gap-5:nth-child(1){
  font-size: 1.4rem;
  font-weight: bold;
}

#searchResultsSection #viewUser{
  border-radius: 5px;
  border: 3px solid var(--color);
  color: white;
  background-color: var(--color);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

/* SETTINGS.EJS */

#settingsSection {
  margin-top: 70px;
  padding: 50px 0;
}

#settingsSection .settings-wrapper{
  display: grid;
  grid-template-columns: 24% 74%;
  gap: 2%;
}

#settingsSection .settings-col-1{
  height: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 25px;
}

#settingsSection .settings-col-1-child-1{
  padding: 14px;
  border-radius: var(--border-radius);
  color:#262626;
  background-color: whitesmoke;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

#settingsSection .settings-col-1-child-2{
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

#settingsSection .settings-col-1-link{
  padding: 18px 16px;
  align-items: center;
}

#settingsSection a{
  text-decoration: none;
  color:#262626;
}

#settingsSection .settings-col-1-link:hover{
  background-color: #e1e1e1;
}

.settings-col-1-link .fa-user-circle,
.settings-col-1-link .fa-cloud-arrow-up,
.settings-col-1-link .fa-user-minus,
.settings-col-1-link .fa-key{
  font-size: 1.5rem;
}

#settingsSection .forms-container{
  display: flex;
  gap: 20px;
  flex-direction: column;
}

#settingsSection .settings-col-2{
  width: 100%;
  border-radius: var(--border-radius);
  padding: 20px;
  background-color: whitesmoke;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

#settingsSection .settings-col-2-wrapper{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}

#settingsSection .settings-col-2-child {
  padding: 18px;
  text-align: left;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#settingsSection .user-input{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#settingsSection .user-input input, 
#settingsSection .user-input select,
#settingsSection .user-input textarea{
  width: 100%;
}

#settingsSection .user-input textarea{
  resize: vertical;
  min-height: 200px;
}

#settingsSection .fa-trash-alt{ 
  transition: 0.5s ease-out;
  cursor: pointer;
}

#settingsSection .profile-photo-container{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: #262626;
  border: 3px dotted lightgray;
  background-position: center;
  background-size: cover;
  background-color: white;
}

#settingsSection .profile-photo-container img { 
  width: 100%;
}

#settingsSection #profilePhoto{
  width: 150px;
  height: 150px;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

#settingsSection .cover-photo-container{
  width: 100%;
  height: 192px;
  border-radius: var(--border-radius);
  color: #262626;
  border: 3px dotted lightgray;
  background-position: center;
  background-size: cover;
  position: relative;
  background-color: white;
}

#settingsSection .cover-photo-container img{
  width: 100%;
}

#settingsSection #coverPhoto{
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

#settingsSection .fa-cloud-upload{ 
  font-size: 1.4rem;
}

#settingsSection input[type=range] {
  -webkit-appearance: none;
}

#settingsSection input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid lightgray;
}

#settingsSection input[type="range"]::-moz-range-track {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 6px;
}

#settingsSection input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px lightgray;
  border: 1px solid lightgray;
  height: 16px;
  width: 16px;
  border-radius: 15px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}

/* width */
#settingsSection ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#settingsSection ::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

/* Handle */
#settingsSection ::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 3px;
}

/* Handle on hover */
#settingsSection ::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}

#settingsSection #match-list {
  display: none;
  max-height: 400px;
  overflow-x: auto;
  font-style: italic;
  color: gray;
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

#settingsSection #match-list .name {
  padding: 8px 5px;
}

#settingsSection #match-list .name:hover {
  background-color: #bfbfbf;
}

#settingsSection #update-profile-btn{
  color: white;
  border: 3px sold var(--color);
  background-color: var(--color);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

/* SHOWCASE.EJS */

#showcaseSection {
  margin-top: 70px;
  padding: 50px 0;
  min-height: 600px;
}

#showcaseSection .showcase-wrapper {
  display: grid;
  grid-template-columns: 24% 74%;
  gap: 2%;
}

#showcaseSection .showcase-col-1 {
  height: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 25px;
}

#showcaseSection .showcase-col-1-child-1 {
  padding: 14px;
  border-radius: var(--border-radius);
  color: #262626;
  background-color: whitesmoke;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

#showcaseSection .showcase-col-1-child-2 {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

#showcaseSection .showcase-col-1-link {
  padding: 18px 16px;
  align-items: center;
}

#showcaseSection a {
  text-decoration: none;
  color: #262626;
}

#showcaseSection .showcase-col-1-link:hover {
  background-color: #e1e1e1;
}

.showcase-col-1-link .fa-user-circle,
.showcase-col-1-link .fa-cloud-arrow-up,
.showcase-col-1-link .fa-key,
.showcase-col-1-link .fa-user-minus {
  font-size: 1.5rem;
}

#showcaseSection .showcase-col-2 {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  padding: 0;
  justify-content: flex-start;
  background-color: white;
  padding: 25px;
  background-color: whitesmoke;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

#showcaseSection .showcase-photos-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#showcaseSection .showcase-photos {
  width: 100%;
  height: 200px;
  border-radius: var(--border-radius);
  background-position: center;
  background-size: cover;
  border: 3px dotted lightgray;
  position: relative;
  background-color: white;
  font-style: italic;
  color: gray;
}

#showcaseSection .showcase-photos .select {
  margin-left: 7px;
  cursor: pointer;
  color: var(--color);
  font-weight: bold;
}

#showcaseSection .showcase-photos input {
  display: none;
}

#showcaseSection .showcase-photos .dragover {
  border-style: solid;
  font-size: 2rem;
  color: #c8c9dd;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.34);
}

#showcaseSection .images-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: wrap;
  position: relative;
  height: auto;
  margin-top: 20px;
}

#showcaseSection .image {
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}

#showcaseSection .image:nth-child(4n) {
  margin-right: 0;
}

#showcaseSection .image img {
  height: 100%;
  width: 100%;
}

#showcaseSection .image span {
  position: absolute;
  top: -4px;
  right: 4px;
  cursor: pointer;
  font-size: 22px;
  color: #fff;
}

#showcaseSection .image span:hover {
  opacity: 0.8;
}

#showcaseSection #update-profile-btn {
  color: white;
  border: 3px solid var(--color);
  background-color: var(--color);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

/* ACCOUNT.EJS */

#accountSection {
  margin-top: 70px;
  min-height: 600px;
  padding: 50px 0;
}

#accountSection .account-wrapper {
  display: grid;
  grid-template-columns: 24% 74%;
  gap: 2%;
}

#accountSection .account-col-1 {
  height: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 25px;
}

#accountSection .account-col-1-child-1 {
  padding: 14px;
  border-radius: var(--border-radius);
  color: #262626;
  background-color: whitesmoke;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

#accountSection .account-col-1-child-2 {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

#accountSection .account-col-1-link {
  padding: 18px 16px;
  align-items: center;
}

#accountSection a {
  text-decoration: none;
  color: #262626;
}

#accountSection .account-col-1-link:hover {
  background-color: #e1e1e1;
}

.account-col-1-link .fa-user-circle,
.account-col-1-link .fa-cloud-arrow-up,
.account-col-1-link .fa-key,
.account-col-1-link .fa-user-minus {
  font-size: 1.5rem;
}

#accountSection .account-col-2 {
  width: 100%;
  height: fit-content;
  border-radius: var(--border-radius);
  padding: 0;
  justify-content: flex-start;
  padding: 25px;
  background-color: whitesmoke;
  line-height: 1.5;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

#accountSection .account-col-2-child {
  width: 100%;
}

#accountSection .user-input input{
  padding: 16px;
}

#delete-account-btn {
  color: white;
  border: 3px solid red;
  background-color: red;
}

/* LOGIN */

#login-section{
  margin-top: 70px;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-section h1{
  font-size: 2.5rem;
}

#login-form{
  padding: 50px;
  width: fit-content;
  border-radius: var(--border-radius);
  background-color: whitesmoke;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}


/* REGISTER */

#register-section{
  margin-top: 70px;
  min-height: 600px;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#register-section h1 {
  font-size: 2.5rem;
}

#register-form {
  padding: 50px;
  width: fit-content;
  border-radius: var(--border-radius);
  background-color: whitesmoke;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

/* LOGIN/ REGISTER */

#password-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
}

#show-password-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  text-align: left;
}

#show-password-container label{
  font-size: 1rem;
}

input[type="checkbox"]{
 width: auto;
}

#forgot-password a,
#register a,
#login a{
  color: var(--color);
  text-decoration: none;
}

#account-btn, 
#login-btn,
#link-btn,
#update-password{
  width: 375px;
  color: white;
  background-color: var(--color);
  border-radius: var(--border-radius);
  border: 1px solid var(--color);
  transition: 0.3s ease-out;
}

#link-btn{
  width: 100%;
}

.input-group{
  position: relative;
}

.input-group span{
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.fa-circle-check{
  color: #47d764;
}

.fa-circle-xmark{
  color: red;
}

/* PASSWORD-RESET.EJS */
#password-reset-section{
  margin-top: 70px;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#password-reset-section a{
  text-decoration: none;
  color: var(--color);
}

#password-reset-form{
  padding: 50px;
  width: fit-content;
  border-radius: var(--border-radius);
  background-color: whitesmoke;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

/* PASSWORD-RESET-UPDATE.EJS */
#updatePassword{
  margin-top: 70px;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ERROR.EJS */
#errorSection{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ADMIN.EJS */

#adminSection{
  margin-top: 70px;
  min-height: 600px;
  padding: 25px 0;
}

#adminSection form{
  width: 100%;
}

#adminSection a {
  border-radius: 5px;
  padding: 10px 8px;
  color: white;
  border: none;
  text-decoration: none;
}

#adminSection input{
  font-size: 0.9rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#adminSection button{
  font-size: 0.9rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--color);
  color: white;
}

#adminSection .admin-child-1{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

#adminSection .admin-child-2{
  width: 100%;
  display: flex;
  gap: 10px;
}

#adminSection .admin-child-3{
  width: 100%;
  overflow-x: auto;
  padding: 30px 0;
}

#adminSection .text-end {
  text-align: right;
  max-width: 250px;
}

#adminSection .view i,
#adminSection .edit i,
#adminSection .delete i {
  color: white;
}

#adminSection .view {
  background-color: gray;
}

#adminSection .edit {
  background-color: black;
}

#adminSection .delete {
  background-color: var(--color);
}

/* ADD-USER.EJS */

#addUserSection {
  margin-top: 70px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* VIEW-USER.EJS */

#viewUserSection{
  margin-top: 70px;
  min-height: 600px;
}

#viewUserSection .breadcrumbs{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 30px 0;
}

#viewUserSection .breadcrumbs a{
  color: #009999;
}

#viewUserSection .user-photos{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 0;
}

#viewUserSection .photo{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#viewUserSection table{
  margin: 25px 0;
}

#viewUserSection .view-user-table td {
  width: 150px;
  text-overflow: initial;
  overflow-x: auto;
}

/* FOOTER.EJS */

footer {
  margin-top: auto;
}

#footer {
  min-height: 500px;
  background-color: black;
  display: flex;
  justify-content: center;
}

#footer .footer-wrapper {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

#footer .footer-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
  line-height: 2;
}

#footer .footer-box h1 {
  font-size: 3rem;
}

#footer .footer-box address {
  color: gray;
  font-style: normal;
  line-height: 2;
}

#footer .info {
  display: flex;
  flex-direction: column;
  color: gray;
}

#footer .info a {
  color: gray;
  text-decoration: none;
}

#footer .info span {
  color: var(--color);
}

#footer .brand {
  color: white;
  margin-top: -25px;
}

#footer .rights {
  padding-top: 50px;
  color: gray;
}

#footer .fb1 {
  width: 300px;
}

#footer .fb2,
#footer .fb3,
#footer .fb4,
#footer .fb5 {
  width: fit-content;
  line-height: 2;
}

#footer .social-media {
  display: flex;
  gap: 20px;
}

#footer .social-media a {
  color: white;
  text-decoration: none;
  transition: 0.3s ease-out;
}

/* MEDIA QUERIES */

@media(max-width:1700px){
  .container,
  #profileSection .preview-box{
    width: 100%;
  }
}

@media(max-width:1278px){

  #profileSection .image-box {
    height: 332px;
  }

  .preview-box .details {
    width: 100%;
    height: auto;
  }

  #settingsSection .settings-wrapper {
    display: flex;
    flex-direction: column;
  }

  #settingsSection .settings-col-2-wrapper {
    display: flex;
    flex-direction: column;
  }

  #showcaseSection .showcase-wrapper {
    display: flex;
    flex-direction: column;
  }

  #showcaseSection .showcase-photos-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  #accountSection .account-wrapper {
    display: flex;
    flex-direction: column;
  }

  #profileSection .profile-wrapper {
    display: flex;
    flex-direction: column;
  }

  #profileSection #profile-edit,
  #profileSection #show-login-modal-btn,
  #profileSection #add-contact-btn,
  #profileSection #delete-contact-btn {
    width: 100%;
  }

  #accountSection .user-input{
    width: 100%;
  }

  #accountSection .user-input input{
    width: 100%;
  }

  #delete-account-btn {
    width: 100%;
  }

  #profileSection .profile-col-1-wrapper,
  #profileSection .profile-col-2-wrapper {
    padding: 30px;
  }

  #profile-edit,
  #update-profile-btn{
    width: 100%;
  }

  .nav-search {
    display: none;
  }

  #searchResultsSection .search-results-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  #location-modal .modal-exit-header,
  #location-modal .modal-main-container {
    max-width: 90%;
  }

  #location-modal .modal-header {
    flex-direction: column;
  }

  #location-modal .modal-header:nth-child(1) {
    justify-content: flex-start;
    align-items: flex-start;
  }

  #location-modal .modal-header input,
  #location-modal .modal-header button {
    width: 100%;
  }

  #location-modal .modal-header-dynamic{
    width: 100%;
    gap: 0;
  }

  #location-modal .modal-header-dynamic input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  #location-modal .modal-header-dynamic button{
    width: 20%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  #location-modal #or{
    display: none;
  }

  #footer .footer-wrapper {
    padding: 50px 0;
    flex-direction: column;
  }

  #footer .fb1 {
    width: 100%;
  }

  #footer .rights {
    padding-bottom: 50px;
  }

  .cookies {
    padding: 10px 0;
  }
}

@media(max-width:1024px){

  #we-offer .we-offer-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  #we-offer .offer {
    height: auto;
    padding: 30px 0;
  }
  #cookies-btn {
    width: 100%;
  }

  #testimonials .tslide {
    padding: 0 50px;
  }
}


@media(max-width:768px){

  #profileSection .image-box {
    height: 232px;
  }
  
  #login-form,
  #register-form{
    width: 100%;
  }

  .input-group{
    width: 100%;
  }

  .input-group input{
    width: 100%;
  }

  #account-btn,
  #login-btn,
  #link-btn,
  #update-password {
    width: 100%;
  }

}
